
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcI7vGjE113RP1d4KhzI5vjfvb10JLgzI&v=3.exp&sensor=false"></script>
            <div id="map-canvas" style="height: 100%; width: 100%"></div>
            <script type="text/javascript">
                var map;
                function show_map() {
                    map = new google.maps.Map(document.getElementById("map-canvas"), {
                        zoom: 12,
                        scaleControl: true,
                        center: new google.maps.LatLng(52.2053, 0.1218)
                    });
                    new google.maps.Marker({
                position: new google.maps.LatLng(51.87478926342567, -1.7400664281205165),
                map: map,
                title: "Bourton Dickler",
                label: "1029TH",
                });
new google.maps.Marker({
                position: new google.maps.LatLng(51.713475522095436, -1.420938665162459),
                map: map,
                title: "Newbridge Weir B",
                label: "1090_w2TH",
                });
new google.maps.Marker({
                position: new google.maps.LatLng(51.95091564327662, -1.6798201234886818),
                map: map,
                title: "Evenlode Bridge",
                label: "1210TH",
                });
new google.maps.Marker({
                position: new google.maps.LatLng(51.67471482433133, -1.9903821186602526),
                map: map,
                title: "Ewen",
                label: "0130TH",
                });
new google.maps.Marker({
                position: new google.maps.LatLng(51.64673716100756, -1.8655666133965942),
                map: map,
                title: "Cricklade",
                label: "0190TH",
                });
new google.maps.Marker({
                position: new google.maps.LatLng(51.71688282985994, -1.374671734337292),
                map: map,
                title: "Northmoor Lock",
                label: "1099TH",
                });
new google.maps.Marker({
                position: new google.maps.LatLng(51.71064453932166, -1.8899945851893147),
                map: map,
                title: "Ampney St Peter",
                label: "0470TH",
                });
new google.maps.Marker({
                position: new google.maps.LatLng(51.6893207715972, -1.6787850381227196),
                map: map,
                title: "St Johns Lock",
                label: "0701TH",
                });
new google.maps.Marker({
                position: new google.maps.LatLng(51.72464817927989, -1.548892888218133),
                map: map,
                title: "Bampton",
                label: "0913TH",
                });
new google.maps.Marker({
                position: new google.maps.LatLng(51.72441750904538, -1.9722860768715824),
                map: map,
                title: "Cirencester",
                label: "0260TH",
                });
new google.maps.Marker({
                position: new google.maps.LatLng(51.86416951899635, -1.3566371910272947),
                map: map,
                title: "Woodstock",
                label: "1289TH",
                });
new google.maps.Marker({
                position: new google.maps.LatLng(51.799643406248165, -1.8852311161904522),
                map: map,
                title: "Fosse Bridge",
                label: "0630TH",
                });
new google.maps.Marker({
                position: new google.maps.LatLng(51.754521349715255, -1.8254860944472306),
                map: map,
                title: "Bibury",
                label: "0660TH",
                });
new google.maps.Marker({
                position: new google.maps.LatLng(51.76177654894077, -1.362388900794291),
                map: map,
                title: "Pinkhill Lock",
                label: "1102TH",
                });
new google.maps.Marker({
                position: new google.maps.LatLng(51.88674202236892, -1.7678821976004098),
                map: map,
                title: "Bourton Windrush",
                label: "1020TH",
                });
new google.maps.Marker({
                position: new google.maps.LatLng(51.6546139742787, -1.849566694022744),
                map: map,
                title: "Sheeppen Bridge",
                label: "0490TH",
                });
new google.maps.Marker({
                position: new google.maps.LatLng(51.789750538988145, -1.4842431373568403),
                map: map,
                title: "Witney",
                label: "1082TH",
                });
new google.maps.Marker({
                position: new google.maps.LatLng(51.698701528725536, -1.5340822676700285),
                map: map,
                title: "Rushey Lock",
                label: "0903TH",
                });
new google.maps.Marker({
                position: new google.maps.LatLng(51.69291489683007, -1.6729952664111694),
                map: map,
                title: "Lechlade",
                label: "0890TH",
                });
new google.maps.Marker({
                position: new google.maps.LatLng(51.709393056908254, -1.7840062224550979),
                map: map,
                title: "Fairford",
                label: "0680TH",
                });
new google.maps.Marker({
                position: new google.maps.LatLng(51.67390594067352, -1.9341811232908672),
                map: map,
                title: "South Cerney",
                label: "0278TH",
                });
new google.maps.Marker({
                position: new google.maps.LatLng(51.7194233702003, -1.5889845863422383),
                map: map,
                title: "Clanfield",
                label: "0911TH",
                });
new google.maps.Marker({
                position: new google.maps.LatLng(51.988885751875905, -1.6979134104428988),
                map: map,
                title: "Moreton",
                label: "1208TH",
                });
new google.maps.Marker({
                position: new google.maps.LatLng(51.78609130581709, -1.351230388061002),
                map: map,
                title: "Cassington Weir A",
                label: "1290_w1TH",
                });
new google.maps.Marker({
                position: new google.maps.LatLng(51.861649091725056, -1.5943477494213452),
                map: map,
                title: "Shipton",
                label: "1238TH",
                });
new google.maps.Marker({
                position: new google.maps.LatLng(51.66363157474701, -1.7496410014249768),
                map: map,
                title: "Hannington Bridge",
                label: "0569TH",
                });
new google.maps.Marker({
                position: new google.maps.LatLng(51.66700125564142, -1.816847405886442),
                map: map,
                title: "Whetstone Bridge",
                label: "0530TH",
                });
new google.maps.Marker({
                position: new google.maps.LatLng(51.66529686321665, -1.8918162016090354),
                map: map,
                title: "Cerney Wick",
                label: "0290TH",
                });
new google.maps.Marker({
                position: new google.maps.LatLng(51.713483348543214, -1.4209502115422954),
                map: map,
                title: "Newbridge Weir A",
                label: "1090_w1TH",
                });
new google.maps.Marker({
                position: new google.maps.LatLng(51.681176813426596, -1.6687570463333685),
                map: map,
                title: "Buscot Lock",
                label: "0898TH",
                });
new google.maps.Marker({
                position: new google.maps.LatLng(51.75751594713286, -1.366352032621655),
                map: map,
                title: "Farmoor",
                label: "1100TH",
                });
new google.maps.Marker({
                position: new google.maps.LatLng(51.63217793922535, -2.0071479320080488),
                map: map,
                title: "Oaksey",
                label: "0155TH",
                });
new google.maps.Marker({
                position: new google.maps.LatLng(51.65072742141441, -1.9730836676036643),
                map: map,
                title: "Somerford Keynes",
                label: "0144TH",
                });
new google.maps.Marker({
                position: new google.maps.LatLng(51.78603346796214, -1.3512099809968006),
                map: map,
                title: "Cassington Weir B",
                label: "1290_w2TH",
                });
new google.maps.Marker({
                position: new google.maps.LatLng(51.79367250490941, -1.5643293937395166),
                map: map,
                title: "Worsham",
                label: "1080TH",
                });
                }
                google.maps.event.addDomListener(window, 'load', show_map);
            </script>
        
